<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">

<head th:replace="fragments/header :: head-css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="white-box padding-30">
		<div class="top-h1"><h1>About the project</h1></div>

		<div class="about-image width-height-500"></div>
		<div class="grid margin-auto">
		<p class="font-20">This project was created by Gabriel and Vladislav as a school assignment in 2018. It is a showcase of the project in it's
			current state. We see this as a start to something bigger in the future.</p>
		</div>
	</div>




	<div th:replace="fragments/header :: footer"></div>
</body>

</html>